Вам предстоит проанализировать данные о бронировании отелей.

# Задание 1. 

Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. 
Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

In [1]:
import pandas as pd

bookings = pd.read_csv('2_bookings.csv',encoding='windows-1251',sep=';')

Описание данных.
Имеются следующие переменные:

Hotel – тип отеля (City Hotel или Resort Hotel)

Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным

Lead time – количество дней, прошедших между датой бронирования и датой прибытия

Arrival full date – полная дата прибытия

Arrival date year – год прибытия

Arrival date month – месяц прибытия

Arrival date week number – номер недели прибытия

Arrival date day of month – день прибытия

Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле

Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле

Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)

Adults – число взрослых

Children – число детей

Babies – число младенцев

Meal – выбранный тип питания

Country – страна происхождения клиента

Reserved room type – тип зарезервированного номера

Assigned room type – тип полученного номера (может отличаться от забронированного)

Customer type – тип бронирования

Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину

Reservation status date – дата обновления статуса

# Задание 2. 
Сохраните прочитанный датасет в bookings.
Затем запишите первые 7 строк в переменную bookings_head.

In [2]:
bookings_head = bookings.head(7)

bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

# Задание 3. 

Посмотрите на размеры таблицы. Сколько всего в ней столбцов?

In [3]:
bookings.shape

(119390, 21)

# Задание 4. 

К какому типу относится большинство переменных?

In [4]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

# Задание 5.

Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны 
в неудобном для дальнейшей работы формате. Исправьте ситуацию, 
приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания.

Например: Is Canceled -> is_canceled

Подсказка: вы можете использовать цикл, который будет проходить по bookings.columns, а в теле цикла использовать методы строк:

column.replace(" ", "_").lower()

In [5]:
bookings.columns = bookings.columns.str.lower().str.replace(' ','_')
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

# Задание 6.

Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

Подсказка: здесь необходимо сделать группировку по ['country'] и агрегирование по сумме 'is_canceled'.

In [6]:
result = bookings.groupby('country').agg(total_canceled=('is_canceled','sum'))
result = result.sort_values(by='total_canceled',ascending=True)
next_result = result.sort_values(by='total_canceled',ascending=False)
print(result.head(5))
print(next_result.head(5))

         total_canceled
country
ABW                   0
AIA                   0
ATA                   0
ASM                   0
BDI                   0
         total_canceled
country
PRT               27519
GBR                2453
ESP                2177
FRA                1934
ITA                1333

# Задание 7.

На сколько ночей (stays_total_nights) в среднем бронируют отели типа City Hotel? Resort Hotel?

In [7]:
hotel_result = bookings.groupby('hotel').agg(avg_stays=('stays_total_nights','mean'),total_bookings=('hotel','size')).reset_index().round()
print(hotel_result)

          hotel  avg_stays  total_bookings
0    City Hotel        3.0           79330
1  Resort Hotel        4.0           40060

# Задание 8.

Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

*отмена бронирования также считается


Подсказка: воспользуйтесь  .query('reserved_room_type != assigned_room_type')

In [8]:
overbooking = bookings.query('reserved_room_type != assigned_room_type')
overbooking.size

313257

# Задание 9.

Теперь проанализируйте даты запланированного прибытия (arrival_date_year). На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

Вам пригодится arrival_date_month.agg(pd.Series.mode) - Mode - возвращает самое часто встречаемое значение, если таких несколько возвращает их все

In [11]:
bookings_2016 = bookings[bookings['arrival_date_year']==2016]
mounth_2016 = bookings_2016.groupby('arrival_date_month',as_index=False).size()
print('За 2016 год список популярных месяцев')
print(mounth_2016)
print()
bookings_2017 = bookings[bookings['arrival_date_year']==2017]
mounth_2017 = bookings_2017.groupby('arrival_date_month',as_index=False).size()
print('За 2017 год список популярныз месяцев')
print(mounth_2017)

За 2016 год список популярных месяцев
   arrival_date_month  size
0               April  5428
1              August  5063
2            December  3860
3            February  3891
4             January  2248
5                July  4572
6                June  5292
7               March  4824
8                 May  5478
9            November  4454
10            October  6203
11          September  5394

За 2017 год список популярныз месяцев
  arrival_date_month  size
0              April  5661
1             August  4925
2           February  4177
3            January  3681
4               July  5313
5               June  5647
6              March  4970
7                May  6313

# Задание 10.

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа 
City Hotel отменялись чаще всего в 2015? 2016? 2017?

Подсказка: для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий

Например:

df.groupby('column_1')['column_2'].what_to_do()

In [43]:
canceled_bookings = (
    bookings
    .groupby(['arrival_date_year', 'hotel'])  # Группируем по году и отелю
    ['is_canceled']  # Выбираем столбец с отменами
    .sum()           # Суммируем все значения 1 (каждая отмена = 1)
    .reset_index()   # Преобразуем индекс в обычные столбцы
    .rename(columns={'is_canceled': 'total_cancelations'})  # Переименовываем колонку
)

print(canceled_bookings)

   arrival_date_year         hotel  total_cancelations
0               2015    City Hotel                6004
1               2015  Resort Hotel                2138
2               2016    City Hotel               15407
3               2016  Resort Hotel                4930
4               2017    City Hotel               11691
5               2017  Resort Hotel                4054

# Задание 11.

Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [47]:
mean_values = bookings[['adults', 'children', 'babies']].mean()
print(mean_values)

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

# Задание 12

Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

City hotel – отель находится в городе Resort hotel – отель курортный

В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.


Подсказка: Создать новый столбец из 2-х предыдущих довольно просто, например
bookings['новый столбец'] = bookings.старый_столбец_1 + bookings.старый_столбец_2

In [50]:
bookings['total_kids'] = bookings.children + bookings.babies
bookings.groupby(['hotel'])['total_kids'].sum()

hotel
City Hotel      7640.0
Resort Hotel    5712.0
Name: total_kids, dtype: float64